/* From Uiverse.io by anniekoop */
body {
  min-width: 1000px;
  background-color: black;
  background-size: cover;
  border-radius: 40%;
  color: white;
}

.break {
  content: url(./assets/img/tile_1.png);
  background-size: cover;
}

.bomb {
  content: url(./assets/img/BALL.png);
}

#win {
  content: url(./assets/img/victory.jpg);
  margin: auto;
  width: 100%;
  height: auto;
  overflow: none;
  display: none;
}

.explode {
  background-image: url(./assets/img/explode.png);
  opacity: 0;
  transition: opacity .3s ease-in;
}

.game-map {
  background-image: url(./assets/img/map.png);
  position: absolute;
  width: 570px;
  left: 25%;
  top: 150px;
  height: 390px;
  z-index: -1;

}

/* .unbreak{
  background-image: url(./assets/img/tile_0.png);
} */

.game-map .tile {
  width: 30px;
  height: 30px;
  float: left;
  background-size: cover;
}



#player1 {
  background: url('./assets/img/player1.png');
  width: 30px;
  height: 30px;
  position: absolute;
  background-size: cover;
  transform: translate(30px, 30px);
  transition: 0.3s;
  display: none;
}

#player2 {
  background: url('./assets/img/player2.png');
  width: 30px;
  height: 30px;
  position: absolute;
  background-size: cover;
  transform: translate(510px, 30px);
  transition: 0.3s;
  display: none;
}

#player3 {
  background: url('./assets/img/player3.png');
  width: 30px;
  height: 30px;
  position: absolute;
  background-size: cover;
  transform: translate(30px, 330px);
  transition: 0.3s;
  display: none;
}

#player4 {
  background: url('./assets/img/player4.png');
  width: 30px;
  height: 30px;
  position: absolute;
  background-size: cover;
  transform: translate(510px, 330px);
  transition: 0.3s;
  display: none;
}